<!DOCTYPE html>
<html ng-app="Quiz">
<head>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="script.js"></script>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="styles.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>Quiz!</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>The Quiz Site!</h1>
        <p>An AngularJS based website for taking custom multiple choice quizzes</p>
    </div>
    <div class="container text-center" ng-controller="Question">
        <div class="center-block">
            <h1>{{questions[currentQuestion][0]}}</h1>
            <div ng-repeat="answer in questions[currentQuestion][1]">
                <input ng-model="$parent.selectedOption" value="{{$index}}" type="radio" />{{answer}}
            </div>
            <input type="button" ng-click="checkAnswer()" value="Submit"/>
        </div>
    </div>
</body>
</html>